html{background:black}

div{
    width:50%;
    margin-left:25%;
}

img{
    border:5px solid white;
    width:100%;
    height:600px;
}

h1{
    font-family: "Libre Baskerville", serif;
    color:white;
    text-align: center;
    text-transform: uppercase;
    font-size: 3rem;
}

p{
    color:white;
    text-align: center;
    font-size: x-large;
}